.top{
  background-color: grey;
  padding: 2%;
}

.home-icone{
  float:right;
}

.top img{
  float:right;
  width:  20%;
  height: 20%;
}

h1{
	margin: 10px;
	font-size: 70px;
  font-family: sans-serif;
  font-weight: normal;
}

html{
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
    background:#f6f7fe;
    margin: 0px;
    min-height: 100%;
}

.texto{
  margin:2%;
}




.link ul {
    border:2px solid;
    border-radius: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.link li {
    float: left;
    border-right: 1px solid #BBB;
}

.link li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.link li a:hover {
    background-color: #111;
}

.subtit{
    margin-top: 2.5em;
    border-bottom: 1px solid;
}

.topic{
  margin-left: 10em;
  float: right;
}

.topic ul {
    position: fixed;
    left:1350px;
    border:2px solid;
    border-radius:20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #333;
}


.topic li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.topic li a:hover {
    background-color: #555;
    color: white;
    border-radius:20px;
}

.ficha{
  margin-right: 2em;
  margin-left: 2em;
  border-bottom: 1px grey  solid;

}

.ficha h1 {
  margin-top: 30px;
  font-size: 3em;
}

.ficha_e_lista{
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  display: inline-block;
  border-style: solid;
  width: 50%;
  height: 300px;

}
.pre-lista{
  padding:1em;
}

.lista-ficha1 {
  margin:1em;
}
.lista-ficha2 {
  margin: 5%;
  margin-top: 5%;
}

.conteudo img{
    float:left;
    border-radius: 20px;
    width:30%;
    height:30%;
}

.imagens-ficha {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  float: left;
}

.imagem_proj{
  display: inline-block;
  border-radius: 10%;
  border-style: dashed;
  border-width: thick;
  border-color: #374a68;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.conteudo{
  width: 80%;
  margin-left:1%;
}


.imagens{
  padding: 2em;
  display: inline-block;
}

*{
  font-family: sans-serif;

}

#lficha{
  font-size: 300px;
}

.imagem{
  display: inline-block;
  margin: 20px;
  border-bottom: 5px solid grey;
  border-right: 5px solid grey;
  border-radius: 100%;
  position: relative;
  text-align: center;
}

.imagem img{
  text-align: center;
  margin: 20px;
  border-radius: 100%;
}

.ficha li{
  font-size: 100%;
  text-align: center;
}

.pre-lista {
  display: flex;
  flex-direction: column;
}

.lista-ficha {
  display: flex;
  flex-direction: row:
  justify-content: space-between;
  margin-left: 2em;
}

.imagem:hover{
  top: 2.5px;
  left:2.5px;
  border-bottom-width: 2.5px;
  border-right-width:2.5px;
}

.imagem:active {
    top: 5px;
    left: 5px;
    border-bottom: 0;
    border-right:0;
}

.imagem_port{
  display: inline-block;
  border-radius: 100%;
  border-style: solid;
  border-width: thick;
  border-color: #374a68;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

<<<<<<< HEAD
.relative1 {
  position: relative;
}
.relative2 {
  position: relative;
  top: 10px;
  left: 20px;
  width: 1000px;
=======
.parag{
  display: block;
}

.migue{
  display: inline-block;
>>>>>>> 569350cd039c9f604ad8216e7a99fdcb9e4b3975
}
